<%-include(`../includes/start.ejs`)%> 
<main class="mainFormContainer">
    <h1>Get Started With Mascot</h1>
    <section class="formSection">
        <div class="formImgContainer">
            <img src="/images/connected-world.png" alt="connected-world">
        </div>
        <div class="formContainer card">
            <% if(role === "student") {%>


                <form action="/details" id="detailForm" method="post">
                    <div class="twoInput">
                        <div class="w-100">
                            <input type="text" id="firstName" name="firstName" placeholder="First Name">
                            <p style="color: red;" id="firstNameError"></p>
                        </div>
                        <div class="w-100">
                            <input type="text" id="lastName" name="lastName" placeholder="Last Name">
                            <p style="color: red;" id="lastNameError"></p>
                        </div>
                    </div>
                    <div class="twoInput">
                        <div class="w-100">
                            <input type="number" id="age" name="age" placeholder="Age">
                            <p style="color: red;" id="ageError"></p>
                        </div>
                        <div class="w-100">
                            <input type="text" id="dob" name="dob" placeholder="Date Of Birth" onfocus="this.type = 'date'; this.setAttribute('onfocus','');this.blur();this.focus();">
                            <p style="color: red;" id="dobError"></p>
                        </div>
                    </div>
                    <%-include(`../includes/contact.ejs`,{editing: false})%>
                    <%-include(`../includes/institute.ejs`,{editing: false})%>
                    <%-include(`../includes/address.ejs`,{editing: false})%>
                    <div class="oneInput">
                        <input type="text" id="profileImage" name="profileImage" placeholder="Profile Image URL" required>
                    </div>
                    <!-- <small id="errorPara" style="color: red;"></small> -->
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="role" value="<%= role %>">
                    <button type="submit" class="submitButton" id="detailButton">Submit</button>
                </form>
            <% } else if(role === "alumni") {%>
                <form action="/details" id="detailForm" method="post">
                    <div class="twoInput">
                        <div class="w-100">
                            <input type="text" id="firstName" name="firstName" placeholder="First Name">
                            <p style="color: red;" id="firstNameError"></p>
                        </div>
                        <div class="w-100">
                            <input type="text" id="lastName" name="lastName" placeholder="Last Name">
                            <p style="color: red;" id="lastNameError"></p>
                        </div>
                    </div>
                    <div class="twoInput">
                        <div class="w-100">
                            <input type="number" id="age" name="age" placeholder="Age">
                            <p style="color: red;" id="ageError"></p>
                        </div>
                        <div class="w-100">
                            <input type="text" id="dob" name="dob" placeholder="Date Of Birth" onfocus="this.type = 'date'; this.setAttribute('onfocus','');this.blur();this.focus();">
                            <p style="color: red;" id="dobError"></p>
                        </div>
                    </div>
                    <%-include(`../includes/contact.ejs`, {editing: false})%>
                    <%-include(`../includes/institute.ejs`, {editing: false})%>
                    <div class="oneInput">
                        <input type="text" id="workplace" name="workplace" placeholder="Workplace">
                    </div>
                    <%-include(`../includes/address.ejs`, {editing: false})%>
                    <div class="oneInput">
                        <input type="text" id="profileImage" name="profileImage" placeholder="Profile Image URL">
                    </div>
                    <small id="errorPara" style="color: red;"></small>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="role" value="<%= role %>">
                    <button type="submit" class="submitButton" id="detailButton">Submit</button>

                    
                </form>
            <% } %>
        </div>
    </section>
</main>
<script src="/scripts/details.js"></script>
<%-include(`../includes/end.ejs`)%> 