<%-include(`../includes/start.ejs`)%> 
<%-include(`../includes/nav.ejs`)%> 
<main class="mainContainer">
  <div class="left-content content">
    <div class="card profileCard">
      <div class="cover"></div>
      <div class="profileInfo">
        <img src="<%= user.imageUrl %>" alt="profileImg" class="profileImg" />
        <strong class="userName"><%= user.firstname %> <%= user.lastname %> <span style="text-transform: capitalize;">( <%= role %> )</span></strong>
        <small class="userProfession"><%= user.bio %></small>
        <span><%= user.institute %></span>
      </div>
      <div class="connection">
        <strong>6645</strong>
        <small>Connections</small>
        <!-- <span><a href="#">connect with alumni</a></span> -->
      </div>
      <div class="specialLink">
        <a href="/profile">My Profile</a>
      </div>
    </div>
    <div class="card left-group">
      <h5>Connect with more people .....</h5>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="specialLink">
        <a href="#">Show More</a>
      </div>
    </div>
  </div>
  <div class="center-content content">
    <div class="card">
      <div class="postBox">
        <div class="profileImgPost">
          <img src="<%= user.imageUrl %>" alt="profileImg" />
        </div>
        <input type="text" placeholder="Start a post" />
      </div>
      <div class="buttonBox">
        <div class="specialLink">
          <a href="#" data-bs-toggle="modal" data-bs-target="#photoModal"><i class="fa-regular fa-image"></i> Photo</a>
        </div>
        <div class="specialLink">
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-brands fa-youtube"></i> Video</a>
        </div>
        <div class="specialLink">
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-regular fa-calendar-days"></i> Event</a>
        </div>
        <div class="specialLink">
          <a href="#"
          data-bs-toggle="modal" data-bs-target="#articleModal"><i class="fa-regular fa-newspaper"></i> Write an article</a
          >
        </div>
      </div>
    </div>
    <% if (posts.length > 0) { %>
      <% for (let post of posts) { %>
        <div class="card">
          <div class="userProfile">
            <div class="profileImgPost">
              <img
                src="<%= post.user.imageUrl %>"
                alt="profileImg"
              />
            </div>
            <div class="userInfo">
              <h5><%= post.user.firstname %> <%= post.user.lastname %></h5>
              <p><%= post.user.bio %></p>
            </div>
          </div>
          <div class="caption">
            <p><%= post.caption %></p>
          </div>
          <div class="imagePost">
            <img
              src="<%= post.imageUrl %>"
              alt="post"
            />
          </div>
          <div class="actionBar">
            <div class="specialLink">
              <a href="#"><i class="fa-regular fa-thumbs-up"></i> Like</a>
            </div>
            <div class="specialLink">
              <a href="#"><i class="fa-regular fa-comment"></i> Comment</a>
            </div>
            <div class="specialLink">
              <a href="#"
                ><i class="fa-sharp fa-solid fa-arrows-rotate"></i> Repost</a
              >
            </div>
            <div class="specialLink">
              <a href="#"><i class="fa-sharp fa-solid fa-paper-plane"></i> Send</a>
            </div>
          </div>
        </div>
      <% } %>
    <% } else { %>
      <h1 style="color: white;">No Posts Found!</h1>
    <% } %>
  </div>
  <div class="right-content content">
    <div class="card">
      <h5>Mascot News</h5>
      <ul class="newsSection">
        <li>
          <i class="fa-solid fa-circle"></i> Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatem, nostrum.
        </li>
        <li>
          <i class="fa-solid fa-circle"></i> Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatem, nostrum.
        </li>
        <li>
          <i class="fa-solid fa-circle"></i> Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatem, nostrum.
        </li>
        <li>
          <i class="fa-solid fa-circle"></i> Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatem, nostrum.
        </li>
        <li>
          <i class="fa-solid fa-circle"></i> Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatem, nostrum.
        </li>
      </ul>
      <div class="specialLink">
        <a href="#">Show More</a>
      </div>
    </div>
    <div class="card">
      <div class="upperCard">
        <div class="specialLink">
          <a href="/group">Groups</a>
        </div>
        <div class="specialLink">
          <a href="/events">Events</a>
        </div>
        <div class="specialLink">
          <a href="#">Followed Hashtags</a>
        </div>
      </div>
      <div class="discover">
        <a href="#">Discover More</a>
      </div>
    </div>
    <%-include(`../includes/footer.ejs`)%> 
  </div>
</main>
<!-- Photo Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/post" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">What's in your mind</label>
            <input type="text" class="form-control" name="caption" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Image URL</label>
            <input type="text" class="form-control" name="imageUrl">
          </div>
          <button type="submit" class="btn submitButton" style="width: 100%;">Post</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="articleModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Write an Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/post" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">What's in your mind</label>
            <textarea class="form-control" name="caption" rows="3"></textarea>
          </div>
          <button type="submit" class="btn submitButton" style="width: 100%;">Post</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%-include(`../includes/end.ejs`)%>