<%-include(`../includes/start.ejs`)%> 
<%-include(`../includes/nav.ejs`)%> 
  <main class="mainChatContainer">
    <div class="leftChatContent card">
      <div class="chatList">
        <div class="chatListHeader">
          <h5>Messaging</h5>
          <i class="fa-regular fa-pen-to-square"></i>
        </div>
        <div class="searchChat">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="search messages">
        </div>
        <div class="friendList">
          <% for(const reqUser of connectedUsers) {%>
            <div class="chatPerson">
              <img src="<%=reqUser.imageUrl%>" alt="personImg" style="width: 70px; height: 70px;" class="profileImg">
              <strong><%=reqUser.firstname%> <%=reqUser.lastname%></strong>
              <small></small>
              <small></small>
            </div>
          <%}%>
        </div>
      </div>
      <div id="chat-window">
        <div id="chat-header">
          <img
            src="<%=user.imageUrl%>"
            alt="profileImg" class="profileImg"
          />
          <h2><%=user.firstname%> <%=user.lastname%></h2>
        </div>
        <div id="chat-body">
          <div class="message received">
            <p>Hello! How are you doing?</p>
            <span class="timestamp">10:30 AM</span>
          </div>
          <div class="message sent">
            <p>Hi, I'm doing well. Thanks for asking!</p>
            <span class="timestamp">10:32 AM</span>
          </div>
          <div class="message received">
            <p>That's great to hear!</p>
            <span class="timestamp">10:34 AM</span>
          </div>
        </div>
        <div id="chat-footer">
          <input id="input" type="text" placeholder="Type your message..." />
          <button id="send-btn">
            <i class="fa-sharp fa-solid fa-paper-plane"></i> Send
          </button>
        </div>
      </div>
    </div>
    <div class="rightChatContent">
      <%-include(`../includes/footer.ejs`)%> 
    </div>
  </main>
<script src="/scripts/message.js"></script>
<%-include(`../includes/end.ejs`)%> 