<%-include(`../includes/start.ejs`)%> 
<%-include(`../includes/nav.ejs`)%> 
<main class="networkContainer">
  <div class="leftNetworkContent content">
    <div class="card">
      <h5>Manage my network</h5>
      <a href="#" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-solid fa-user-group"></i>
            <p>Connections</p>
          </div>
          <div><%= connectedUsers.length %></div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-regular fa-address-book"></i>
            <p>Contacts</p>
          </div>
          <div>17</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-solid fa-user"></i>
            <p>Following & Followers</p>
          </div>
          <div>72</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-solid fa-users"></i>
            <p>Groups</p>
          </div>
          <div>12</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-regular fa-calendar-days"></i>
            <p>Events</p>
          </div>
          <div>5</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-solid fa-floppy-disk"></i>
            <p>Pages</p>
          </div>
          <div>128</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-regular fa-newspaper"></i>
            <p>Newsletters</p>
          </div>
          <div>23</div>
        </div>
      </a>
      <a href="" class="network-link">
        <div class="networkCommunity">
          <div class="networkSummary">
            <i class="fa-regular fa-hashtag"></i>
            <p>Hashtags</p>
          </div>
          <div>55</div>
        </div>
      </a>
    </div>
    <%-include(`../includes/footer.ejs`)%> 

  </div>
  <div class="centerNetworkContainer content">
    <div class="card">
      <div class="networkHead">
        <p>Connection Requests</p>
      </div>
      <% for(const request of requests) { %>
          <div class="invitation">
            <div class="userProfile networkUserProfile">
              <div class="profileImgPost">
                <img
                  src=<%= request.from.data.imageUrl || "/images/avatar-default.png" %>
                  alt="profileImg"
                />
              </div>
              <div class="userInfo">
                <h5><%= request.from.data.firstname %> <%= request.from.data.lastname %></h5>
                <p><%= request.from.data.bio %></p>
              </div>
            </div>
            <div class="networkOption">
              <form action="/api/connection/rejectRequest" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input style="display: none;" name="from" value=<%= request.from._id %>>
                <input style="display: none;" name="to" value=<%= ""+request.to._id %>>
                <input style="display: none;" name="type" value="MUTUAL">
                <button class="noborderButton">Ignore</button>
              </form>
              <form action="/api/connection/acceptRequest" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input style="display: none;" name="from" value="<%= request.from._id %>">
                <input style="display: none;" name="to" value=<%= request.to._id %>>
                <input style="display: none;" name="type" value="MUTUAL">
                <button class="text-button">Accept</button>
              </form>
            </div>
          </div>
      <%}%>
    </div>
    <div class="card">
      <h5>Suggestions for you</h5>
      <div class="suggestedConnection">
        <% for(const suggestion of suggestions) {%>
          <div class="card profileCard suggestedCard">
            <div class="cover"></div>
            <div class="profileInfo">
              <img
                src="<%= suggestion.imageUrl %>"
                alt="profileImg"
                class="profileImg"
              />
              <strong class="userName"><%= suggestion.firstname %> <%= suggestion.lastname %></strong>
              <small class="userProfession"><%= suggestion.bio %></small>
              <span><%= suggestion.institute %></span>
            </div>
            <!-- <div class="connection">
              <strong>12</strong>
              <small>Mutual Connections</small>
              <span><a href="#">connect with alumni</a></span>
            </div> -->
            <div>
              <form action="/api/connection/create" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input style="display: none;" name="from" value="<%= user.user %>">
                <input style="display: none;" name="to" value="<%= suggestion.user %>">
                <input style="display: none;" name="type" value="MUTUAL">
                <button class="text-button">
                  <i class="fa-solid fa-user-plus"></i> Connect
                </button>
              </form>
            </div>
          </div>
        <%}%>
      </div>
    </div>
  </div>
  <div class="rightNetworkContainer content">
    <div class="card left-group">
      <div class="networkHead">
        <p>Your connections</p>
      </div>
      <% for(const reqUser of connectedUsers) {%>
        <a href="/profile/<%= reqUser.user %>">
          <div class="connectSuggestion">
            <div class="connectProfile">
              <img src="<%= reqUser.imageUrl %>" alt="personImg" />
              <div class="connectInfo">
                <strong><%= reqUser.firstname %> <%= reqUser.lastname %></strong>
                <small><%= reqUser.bio %></small>
              </div>
            </div>
          </div>
        </a>
      <%}%>
    </div>
  </div>
</main>
<%-include(`../includes/end.ejs`)%> 
