<%-include(`../includes/start.ejs`)%>
<%-include(`../includes/nav.ejs`)%>
<div class="profileContainer">
  <div class="container-main">
    <div class="card profileCard-profile">
      <div class="cover"></div>
      <a href="/edit-details"><span class="material-symbols-rounded cover-edit">edit</span></a>
      <div class="profileInfo">
        <img
          src="<%= user.imageUrl %>"
          alt="profileImg"
          class="profileImg"
        />
      </div>
      <div class="profileDetails">
        <div class="personal">
          <div class="edit-title">
            <h3><%= user.firstname %> <%= user.lastname%> ( <span style="text-transform: capitalize;"><%= usermain.role%></span> )</h3>
            <!-- <span class="material-symbols-rounded profile-edit">edit</span> -->
          </div>
          <p class="personalDescription">
            <%= user.bio %>
          </p>
          <p class="location-info">
            <a href="#" data-bs-toggle="modal" data-bs-target="#addressModal" class="linkStyle">Address</a>
            <span style="font-size: 15px">•</span>
            <a href="#" class="linkStyle" data-bs-toggle="modal" data-bs-target="#contactModal">Contact Info</a>
          </p>
          <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true" style="color: black;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-2">
                    Email : <%= contact.email %>
                  </div>
                  <div class="mb-2">
                    Phone : <%= contact.phone %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true" style="color: black;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Address Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-2">
                    address : <%= address.address %>
                  </div>
                  <div class="mb-2">
                    city : <%= address.city %>
                  </div>
                  <div class="mb-2">
                    pincode : <%= address.pincode %>
                  </div>
                  <div class="mb-2">
                    state : <%= address.state %>
                  </div>
                  <div class="mb-2">
                    country : <%= address.country %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <p>Education at <%= user.institute %> (<%= user.joinYear %> - <%= user.passYear %>)</p>
          <%if(usermain.role == "alumni"){%>
            <p>Working at <%= user.workplace %></p>
          <%}%>
          <p class="connection-info">567 connections</p>
        </div>
      </div>
    </div>
    <div class="profile-card card">
      <div class="analytics-title section-title">
        <div style="font-size: 22px; font-weight: bold">Analytics</div>
        <div style="display: flex; align-items: center; gap: 3px">
          <span class="material-symbols-rounded" style="font-size: 15px"
            >visibility</span
          >
          <div style="font-size: 12px">Private for you</div>
        </div>
      </div>
      <div class="analytics-stats">
        <div>
          <div>
            <span class="material-symbols-rounded">group</span>
          </div>
          <div style="font-size: 20px; text-decoration: none">
            <a href="#" class="linkStyle"><%= post.length %> Posts</a>
            <div style="font-size: 12px">Discover who viewed your profile.</div>
          </div>
        </div>
        <div>
          <div>
            <span class="material-symbols-rounded">bar_chart</span>
          </div>
          <div style="font-size: 20px; text-decoration: none">
            <a href="#" class="linkStyle">1418 Post impressions</a>
            <div style="font-size: 12px">
              Checkout who's engaging with your posts.
            </div>
          </div>
        </div>
        <div>
          <div>
            <span class="material-symbols-rounded">search</span>
          </div>
          <div style="font-size: 20px; text-decoration: none">
            <a href="#" class="linkStyle">15 search appearances</a>
            <div style="font-size: 12px">
              See how often you appear in the search results.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card card">
      <div class="analytics-title section-title">
        <div style="font-size: 22px; font-weight: bold">Resources</div>
        <div style="display: flex; align-items: center; gap: 3px">
          <span class="material-symbols-rounded" style="font-size: 15px"
            >visibility</span
          >
          <div style="font-size: 12px">Private for you</div>
        </div>
      </div>
      <div class="resource-container">
        <div class="resource-main">
          <div>
            <span class="material-symbols-rounded">group_add</span>
          </div>
          <div>
            <div style="font-size: 18px">My network</div>
            <div style="font-size: 12px">
              See and manage your connections and interests.
            </div>
          </div>
        </div>
        <div class="resource-main">
          <div>
            <span class="material-symbols-rounded">article</span>
          </div>
          <div>
            <div style="font-size: 18px">Activity</div>
            <div style="font-size: 12px">
              See what you've shared with your network, such as posts, articles,
              and comments.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card card">
      <div class="about-title section-title">
        <div style="font-size: 22px; font-weight: bold">About</div>
        <div>
          <span class="material-symbols-rounded about-edit">edit</span>
        </div>
      </div>
      <div class="about-description" style="font-size: 12px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt illo
        doloribus, eos, laborum quibusdam totam labore similique alias nam
        adipisci culpa natus inventore magnam! Magni, inventore! Illum corrupti
        odit numquam.
      </div>
    </div>
    <div class="profile-card card">
      <div class="about-title section-title">
        <div>
          <div style="font-size: 22px; font-weight: bold">Activity</div>
          <div style="font-size: 12px">567 followers</div>
        </div>
        <div>
          <button class="text-button" style="background-color: transparent">
            Start a post
          </button>
        </div>
      </div>
      <div style="font-size: 12px">
        Random Person commented on a post
        <span style="font-size: 15px">•</span> 3mo
      </div>
      <div style="font-size: 15px">random.person@gmail.com</div>
    </div>
    <div class="profile-card card">
      <div class="about-title section-title">
        <div style="font-size: 22px; font-weight: bold">Experience</div>
        <div style="display: flex; flex-direction: row; gap: 2rem">
          <div>
            <span class="material-symbols-rounded about-edit">add</span>
          </div>
          <div>
            <span class="material-symbols-rounded about-edit">edit</span>
          </div>
        </div>
      </div>
      <div class="experience-container">
        <div class="experience-main">
          <img src="/media/logo/logo.png" height="50px" width="50px" />
          <div style="font-size: 12px">
            <div style="font-weight: bold; font-size: 18px">
              Position/Designation 1
            </div>
            <div>
              Company 1 <span style="font-size: 15px">•</span> Full time
            </div>
            <div>
              Past to Present <span style="font-size: 15px">•</span> 1year
            </div>
            <div>Location <span style="font-size: 15px">•</span> On site</div>
            <div style="padding-top: 7px"></div>
            <div>
              <span style="font-weight: bold">Skills</span>: Apache Kafka ·
              Amazon Web Services (AWS) · AWS Lambda · Python (Programming
              Language) · MongoDB · JavaScript · Node.js
            </div>
          </div>
        </div>
        <div class="experience-main">
          <img src="/media/logo/logo.png" height="50px" width="50px" />
          <div style="font-size: 12px">
            <div style="font-weight: bold; font-size: 18px">
              Position/Designation 1
            </div>
            <div>
              Company 1 <span style="font-size: 15px">•</span> Full time
            </div>
            <div>
              Past to Present <span style="font-size: 15px">•</span> 1year
            </div>
            <div>Location <span style="font-size: 15px">•</span> On site</div>
            <div style="padding-top: 7px"></div>
            <div>
              <span style="font-weight: bold">Skills</span>: Apache Kafka ·
              Amazon Web Services (AWS) · AWS Lambda · Python (Programming
              Language) · MongoDB · JavaScript · Node.js
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card card">
      <div class="about-title section-title">
        <div style="font-size: 22px; font-weight: bold">Education</div>
        <div style="display: flex; flex-direction: row; gap: 2rem">
          <div>
            <span class="material-symbols-rounded about-edit">add</span>
          </div>
          <div>
            <span class="material-symbols-rounded about-edit">edit</span>
          </div>
        </div>
      </div>
      <div class="education-container">
        <div class="education-main">
          <img src="/media/logo/logo.png" height="50px" width="50px" />
          <div style="font-size: 12px">
            <div style="font-weight: bold; font-size: 18px">
              Educational Institution 1
            </div>
            <div>
              B.Tech <span style="font-size: 15px">•</span> Computer Science and
              Engineering
            </div>
            <div>2021 <span style="font-size: 15px">•</span> 2025</div>
            <div style="padding-top: 7px"></div>
            <div>
              <span style="font-weight: bold">Skills</span>: Python (Programming
              Language) · MongoDB · JavaScript · Node.js
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card card">
      <div class="about-title section-title">
        <div style="font-size: 22px; font-weight: bold">Skills</div>
        <div style="display: flex; flex-direction: row; gap: 2rem">
          <button class="text-button" style="background-color: transparent">
            Take Skill Test
          </button>
          <div>
            <span class="material-symbols-rounded about-edit">add</span>
          </div>
          <div>
            <span class="material-symbols-rounded about-edit">edit</span>
          </div>
        </div>
      </div>
      <div class="skill-container">
        <div class="skill-main">
          <div style="font-size: 18px; font-weight: bold">Skill 1</div>
          <div style="display: flex; align-items: center; gap: 4px">
            <img
              src="/media/logo/logo.png"
              width="25px"
              height="25px"
              alt="logo"
            />
            <div style="font-size: 12px">Position 1 at Company 1</div>
          </div>
        </div>
        <div class="skill-main">
          <div style="font-size: 18px; font-weight: bold">Skill 1</div>
          <div style="display: flex; align-items: center; gap: 4px">
            <img
              src="/media/logo/logo.png"
              width="25px"
              height="25px"
              alt="logo"
            />
            <div style="font-size: 12px">Position 1 at Company 1</div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card card">
      <div class="analytics-title section-title">
        <div style="font-size: 22px; font-weight: bold">Interests</div>
      </div>
      <div class="interest-container">
        <div class="interest-main">
          <div style="display: flex; gap: 7px; align-items: center">
            <img
              src="/media/logo/logo.png"
              alt="logo"
              height="50px"
              width="50px"
            />
            <div>
              <div style="font-size: 18px; font-weight: bold">Company 1</div>
              <div style="font-size: 12px">123,456 followers</div>
            </div>
          </div>
          <div>
            <button class="text-button" style="background-color: transparent">
              Following
            </button>
          </div>
        </div>
        <div class="interest-main">
          <div style="display: flex; gap: 7px; align-items: center">
            <img
              src="/media/logo/logo.png"
              alt="logo"
              height="50px"
              width="50px"
            />
            <div>
              <div style="font-size: 18px; font-weight: bold">Company 1</div>
              <div style="font-size: 12px">123,456 followers</div>
            </div>
          </div>
          <div>
            <button class="text-button" style="background-color: transparent">
              Following
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-right content">
    <div class="card left-group" style="color: #cacaca">
      <h6>Connect with more people.....</h6>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="connectSuggestion">
        <div class="connectProfile">
          <img src="/images/example-person.jpeg" alt="personImg" />
          <div class="connectInfo">
            <strong>Random Name</strong>
            <small>Android Developer</small>
          </div>
        </div>
        <button>Connect</button>
      </div>
      <div class="specialLink">
        <a href="#">Show More</a>
      </div>
    </div>
    <%-include(`../includes/footer.ejs`)%>
  </div>
</div>
<%-include(`../includes/end.ejs`)%>
