<%-include(`../includes/start.ejs`)%>
<%-include(`../includes/nav.ejs`)%>
<div class="profileContainer">
  <div class="container-main">
    <div class="card profileCard-profile">
      <div class="cover"></div>
      <a href="/edit-details"><span class="material-symbols-rounded cover-edit">edit</span></a>
      <div class="profileInfo">
        <img
          src="<%= user.imageUrl %>"
          alt="profileImg"
          class="profileImg"
        />
      </div>
      <div class="profileDetails">
        <div class="personal">
          <div class="edit-title">
            <h3><%= user.firstname %> <%= user.lastname%> ( <span style="text-transform: capitalize;"><%= usermain.role%></span> )</h3>
            <!-- <span class="material-symbols-rounded profile-edit">edit</span> -->
          </div>
          <p class="personalDescription">
            <%= user.bio %>
          </p>
          <p class="location-info">
            <a href="#" data-bs-toggle="modal" data-bs-target="#addressModal" class="linkStyle">Address</a>
            <span style="font-size: 15px">•</span>
            <a href="#" class="linkStyle" data-bs-toggle="modal" data-bs-target="#contactModal">Contact Info</a>
          </p>
          <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true" style="color: black;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-2">
                    Email : <%= contact.email %>
                  </div>
                  <div class="mb-2">
                    Phone : <%= contact.phone %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true" style="color: black;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Address Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-2">
                    address : <%= address.address %>
                  </div>
                  <div class="mb-2">
                    city : <%= address.city %>
                  </div>
                  <div class="mb-2">
                    pincode : <%= address.pincode %>
                  </div>
                  <div class="mb-2">
                    state : <%= address.state %>
                  </div>
                  <div class="mb-2">
                    country : <%= address.country %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <p class="connection-info"><%= connection %> connections</p>
          
          <%if(usermain.role === 'alumni'){%>
            <p class="connection-info"><%= job%> Jobs posted</p>
          <%}%>
        </div>
        <!-- <%if(usermain.role === 'student' && !others){%>
          <form action="">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="submitButton">Apply For Alumni</button>
          </form>
        <%}%> -->
      </div>
    </div>
    <div class="profile-card card">
      <div class="analytics-title section-title">
        <div style="font-size: 22px; font-weight: bold">Analytics</div>
        <div style="display: flex; align-items: center; gap: 3px">
          <span class="material-symbols-rounded" style="font-size: 15px"
            >visibility</span
          >
          <div style="font-size: 12px">Private for you</div>
        </div>
      </div>
      <div class="analytics-stats">
        <div>
          <div>
            <span class="material-symbols-rounded">description</span>
          </div>
          <div style="font-size: 20px; text-decoration: none">
            <a href=<%= others ? '#' : '/edit-posts'%> class="linkStyle"><%= post.length %> Posts</a>
            <div style="font-size: 12px">Discover and Edit your post.</div>
          </div>
        </div>
        <div>
          <div>
            <span class="material-symbols-rounded">bar_chart</span>
          </div>
          <div style="font-size: 20px; text-decoration: none">
            <a href=<%= others ? '#' : '/edit-posts'%> class="linkStyle"><%= postImpression %> Post impressions</a>
            <div style="font-size: 12px">
              Checkout who's engaging with your posts.
            </div>
          </div>
        </div>
        <div>
          <div>
            <span class="material-symbols-rounded">group</span>
          </div>
          <div style="font-size: 20px; text-decoration: none">
            <a href=<%= others ? '#' : '/network'%> class="linkStyle"><%=connection%> connections</a>
            <div style="font-size: 12px">
              See Your connections.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card card">
      <div class="about-title section-title">
        <div style="font-size: 22px; font-weight: bold">About</div>
        <%if(!others){%>
          <div>
            <a href="#" data-bs-toggle="modal" data-bs-target="#aboutModal" class="linkStyle"><span class="material-symbols-rounded about-edit">edit</span></a>
          </div>
        <%}%>
      </div>
      <div class="about-description" style="font-size: 20px">
        <%=aboutData !== '' ? aboutData : 'Add About so that people can know you better'%>
      </div>
    </div>
    <div class="modal fade" style="color: black;" id="aboutModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Your About</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/add-about" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">About</label>
                <textarea class="form-control" name="about" rows="3"><%=aboutData !== '' ? aboutData : ''%></textarea>
              </div>
              <button type="submit" class="btn submitButton" style="width: 100%;">Add About</button>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <%if(usermain.role === "alumni"){%>
      <div class="profile-card card">
        <div class="about-title section-title">
          <div style="font-size: 22px; font-weight: bold">Working</div>
          <div style="display: flex; flex-direction: row; gap: 2rem">
          </div>
        </div>
        <div class="experience-container">
          <div class="experience-main">
            <img src="/images/company.png" height="100px" width="100px" />
            <div style="font-size: 12px">
              <div style="font-weight: bold; font-size: 18px">
                Working at <%= user.workplace %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%}%>
    <div class="profile-card card">
      <div class="about-title section-title">
        <div style="font-size: 22px; font-weight: bold">Education</div>
      </div>
      <div class="education-container">
        <div class="education-main">
          <img src="/images/college.png" height="100px" width="100px" />
          <div style="font-size: 12px">
            <div style="font-weight: bold; font-size: 18px">
              Education at <%= user.institute %>
            </div>
            <div><%= user.joinYear %> <span style="font-size: 15px">•</span> <%= user.passYear %></div>
            <div style="padding-top: 7px"></div>
            <!-- <div>
              <span style="font-weight: bold">Skills</span>: Python (Programming
              Language) · MongoDB · JavaScript · Node.js
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="profile-card card">
      <div class="about-title section-title">
        <div style="font-size: 22px; font-weight: bold">Skills</div>
        <div style="display: flex; flex-direction: row; gap: 2rem">
          <% if(!others){%>
            <div>
              <a href="#" data-bs-toggle="modal" data-bs-target="#skillModal"><span class="material-symbols-rounded about-edit">add</span></a>
            </div>
          <%}%>
        </div>
      </div>
      <div class="modal fade" style="color: black;" id="skillModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add a Skill</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/add-skill" method="post">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Skill</label>
                  <input type="text" class="form-control" name="skill">
                </div>
                <button type="submit" class="btn submitButton" style="width: 100%;">Add Skill</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-container">
        <%if(skills.length>0){%>
          <%for(let skill of skills){%>
            <div class="skill-main">
              <div style="font-size: 18px; font-weight: bold"><%=skill%></div>
            </div>
          <%}%>
        <%}else{%>
          <p>No Skills added</p>
        <%}%>
      </div>
    </div>
    <div class="profile-card card">
      <div class="about-title section-title">
        <div style="font-size: 22px; font-weight: bold">Interests</div>
        <div style="display: flex; flex-direction: row; gap: 2rem">
          <% if(!others){%>
            <div>
              <a href="#" data-bs-toggle="modal" data-bs-target="#interestModal"><span class="material-symbols-rounded about-edit">add</span></a>
            </div>
          <%}%>
        </div>
      </div>
      <div class="modal fade" style="color: black;" id="interestModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add an Interest</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/add-interest" method="post">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Interest</label>
                  <input type="text" class="form-control" name="skill">
                </div>
                <button type="submit" class="btn submitButton" style="width: 100%;">Add Interests</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-container">
        <%if(interests.length>0){%>
          <%for(let interest of interests){%>
            <div class="skill-main">
              <div style="font-size: 18px; font-weight: bold"><%=interest%></div>
            </div>
          <%}%>
        <%}else{%>
          <p>No Interests added</p>
        <%}%>
      </div>
    </div>
  </div>
  <div class="container-right content">
    <div class="card left-group" style="color: #cacaca">
      <h6>Connect with more people.....</h6>
      <% for(const reqUser of users) {%>
        <form action="/api/connection/create" method="post">
          <div class="connectSuggestion">
            <a href="/profile/<%= reqUser.user %>">
              <div class="connectProfile">
                <img src="<%= reqUser.imageUrl %>" alt="personImg" />
                <div class="connectInfo">
                  <strong><%= reqUser.firstname %> <%= reqUser.lastname %></strong>
                  <small><%= reqUser.bio %></small>
                </div>
              </div>
            </a>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input style="display: none;" name="from" value="<%= user.user %>">
            <input style="display: none;" name="to" value="<%= reqUser.user %>">
            <input style="display: none;" name="type" value="MUTUAL">
            <button type="submit">Connect</button>
          </div>
        </form>
      <%}%>
    </div>
    <%-include(`../includes/footer.ejs`)%>
  </div>
</div>
<%-include(`../includes/end.ejs`)%>
