<div class="oneInput">
    <input type="text" class="address" name="address" placeholder="Address" value="<% if(editing) { %><%=address.address %><%}%>">
</div>
<div class="twoInput">
    <input type="text" class="city" name="city" placeholder="City" value="<% if(editing) { %><%=address.city%><%}%>">  
    <input type="number" class="pin-code" name="pinCode" placeholder="Pin-Code" value="<% if(editing) { %><%=address.pincode %><%}%>">  
</div>
<div class="twoInput">
    <input type="text" class="state" name="state" placeholder="State" value="<% if(editing) { %><%=address.state %><%}%>">  
    <input type="text" class="country" name="country" placeholder="Country" value="<% if(editing) { %><%=address.country %><%}%>">  
</div>
<div class="oneInput">
    <textarea name="bio" name="bio" id="bio" cols="30" rows="5" placeholder="Write a brief about your bio"><% if(editing) { %><%=user.bio %><%}%></textarea>
</div>